.ct-chart {

    height: 20%;
    width: 40%;
    background-color: blanchedalmond;
    text-align: center;
    color: black;
    padding-bottom: 5px;
    padding-right: 5px;

}

.input {

    margin-bottom: 5px;
    /* rounded corners */
    border-radius: 10px;
    
}

.hero {
    background: url(images/Front-page-home.jpg) center / cover;
  }